@model List<Product>
@{
}
<link rel="stylesheet" href="~/css/Style.css" />
<h2 class ="text-center mb-5">Lista de Produtos</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Products" asp-action="Create">Novo Produto</a>
    </div>
    <div class="col">

    </div>
</div>

<table class="table">
    <thead>
         <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Brand</td>
                <td>@product.Category</td>
                <td>@(product.Price)$</td>
                <td>@product.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td style="white-space:nowrap">
                   <a class="btn btn-sm btn-primary" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                   <a class="btn btn-sm btn-danger " asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id">Delete </a>

                </td>

            </tr>
        }

    </tbody>
</table>
